
@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

body {
	background-color: rgba(100, 120, 60, 0.5);
	font-family: PT Serif, serif;
	color: rgb(60, 0, 0);
}

h1 {
	font-family: Cinzel, serif;
	font-size: 2.5em;
	margin: 0.5em;
	
}

#ref {
	float:right;
	color: inherit;
	margin: 1.33em;
	font-weight: bold;
}
#ref:link {
    text-decoration: none;
}

#ref:visited {
    text-decoration: none;
    color: inherit;
}

#ref:hover {
    text-decoration: underline;
}

#ref:active {
    text-decoration: underline;
}

.content {
	margin: 0 100px;
	position:relative;
}
.content > *{
	/*margin: 0 50px;*/
	float:left;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

#lucretia {
	padding: 10px;
	border: solid 2px;
	border-color: rgb(60, 0, 0);
	margin: 0px 20px;
	height: 500px;
	width: auto;
}

/*#text {
	padding: 10px;
	border: solid 2px;
	border-color: rgb(60, 0, 0);
	margin: 0px 20px;
}*/